body {
  font-size: 18px;
  color: #1876ab;
  font-family: Comfortaa;
  font-weight: 1000;
  margin: 4;
  padding: 0;
  justify-content: center;
  background: #D3D3D3;
}

header, .bottomBorder {
  border-bottom: 1px dashed #0082cb;
}

h1, h2, h3 {
  color: #0082cb;
}

button {  
  width: 300px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px dashed #0082cb;
  background-color: #D3D3D3;
  color: #1876ab;
  font-family: Comfortaa;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 7px;
}

button:hover {
  transform: scale(105%);
}

.subtext {
  color: #666666;
  font-size: 22px;
  font-weight: 300;
}
