html {
  margin: 4;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: 'Monaco', sans-serif;
  background: #151515;
}

header {
  border-bottom: 1px dashed #b5e853;
}

.center-div {
  border-bottom: 1px dashed #b5e853;
}

a {
  color: #63c0f5;
}

h1, h2, h3 {
  color: #b5e853;
}

#credits {
  color: #666666;
  font-size: 22px;
  font-weight: 300;
}

body {
  font-size: 18px;
  color: white;
}

.button {  
  width: 300px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px dashed #b5e853;
  background-color: #151515;
  color: white;
}

#code-textarea {
  font-size: 20px;
  line-height: 20px;
  height: 40px;
  border: 2px dashed #b5e853;
  padding: 4px 7px;
  width:  725px;
  background-color: black;
  color: white;
}

canvas {
  display: block;
}
