html {
  margin: 4;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: Comfortaa, sans-serif;
  background: #D3D3D3;
}

header {
  border-bottom: 1px dashed #0082cb;
}

.center-div {
  border-bottom: 1px dashed #0082cb;
}

a {
  color: #63c0f5;
}

h1, h2, h3 {
  color: #0082cb;
}

#credits {
  color: #666666;
  font-size: 22px;
  font-weight: 300;
}

body {
  font-size: 18px;
  color: #1876ab;
  font-family: Comfortaa;
  font-weight: 1000;
}

.button {  
  width: 300px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px dashed #0082cb;
  background-color: #D3D3D3;
  color: #1876ab;
  font-family: Comfortaa;
}

.button:hover {
  transform: scale(105%);
}

#code-textarea {
  font-size: 20px;
  line-height: 20px;
  height: 40px;
  border: 2px dashed #0082cb;
  padding: 4px 7px;
  width:  725px;
  background-color: #D3D3D3;
  color: #1876ab;
  font-family: Comfortaa;
  text-align: center;
  vertical-align: center;
}

canvas {
  display: block;
}
